<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Cadastrar produto</title>
</head>
<body>

 <form method="post" action="/adicionar">

<label>Nome do produto:</label> 
<input type="text" name="txtNome"
placeholder="Digite o nome do produto">


<label>Marca do produto</label>
<input type="text" name="txtMarca"
placeholder="Digite a Marca">


<label>Preço do produto</label>
<input type="text" name="txtPreco"
placeholder="Digite o Preço">

<button type="submit">Cadastrar Produto</button>

</form>
    
</body>
</html>