<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">

        table, th, td{
            border:1px solid #000000;
            color:#fd0931;
        }
    </style>
</head>
<body>

    <h2>{{descricao }}</h2>

    <table>
        <tr>
            <th>Nome Produto</th>
            <th>Marca</th>
            <th>Preço R$</th>

        </tr>
        <!--{ % % }-->

        {% for produto in lista_prod  %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.marca }}</td>
            <td>{{ produto.preco }}</td>
        </tr>
        {% endfor %}

          
    </table>

    
</body>
</html>